// Variables 🧮 //

// Colors 🎨
$txt: #090400;
$primary: #0D4051;
$secondary: #3F6EFA;
$tertiary: #F9462F;
$grey: #f0eded;

// Fonts ✍
$grotesk: 'Space Grotesk', sans-serif;
$mono: 'Space Mono', monospace;

// Grids variables 📐
$gutter: 20px;

// Mediaqueries 📱
$container-big: 1920px;
$container: 1670px;
$desktop-large: 1280px;
$desktop: 1100px;
$desktop-small: 960px;
$tablet: 768px;
$phone: 580px;
$phone-small: 400px;

// Transitions
$transition: 0.3s ease-in-out;
