/* Home specific style */

.hero {
    display: flex;
    align-items: center;
    padding: 150px 0 250px;
    height: 95vh;
    min-height: 700px;
    position: relative;
    text-align: center;
    color: #fff;
    &-subtitle {
        padding: $gutter 0;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 3.5rem;
        white-space: nowrap;
        text-indent: $gutter * 2;
        background: #fff;
        color: $primary;
    }
}

.about {
    &-wrapper {
        background: $grey;
    }
    &-inner {
        display: flex;
    }
    &-desc,
    &-details {
        width: 50%;
        padding: 80px 0;
    }
    &-desc {
        padding-right: 10%;
        position: relative;
        z-index: 1;
        background: $secondary;
        color: #fff;
        &::after {
            content: '';
            width: 50vw;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: $secondary;
        }
    }
    &-details {
        padding-left: 10%;
    }
    &-list {
        list-style: none;
    }
}

.expertise {
    &-wrapper {
        padding: 80px 0;
        text-align: center;
    }
    &-tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -10px;
        list-style: none;
    }
    &-tag {
        padding: 5px 40px 6px;
        border: 1px solid;
        margin: 0 10px 25px;
        border-radius: 22px;
        line-height: 1;
    }
    &-list {
        display: flex;
        justify-content: space-around;
        list-style: none;
        &-item {
            width: 33%;
            padding: 0 4%;
        }
    }
}

.team {
    &-wrapper {
        color: #fff;
    }
    &-inner {
        display: flex;
    }
    &-visual,
    &-text {
        width: 50%;
        padding: 80px 0;
    }
    &-text {
        padding-left: 10%;
    }
}

.uses {
    &-wrapper {
        padding: 80px 0;
    }
    &-list {
        display: flex;
        margin: 0 $gutter * -1;
        list-style: none;
        &-item {
            width: 25%;
            padding: 0 $gutter;
        }
    }
}

.contact {
    &-wrapper {
        padding: 80px 0;
        background: $grey;
    }
}
