/* Home specific style */

.about {
    &-wrapper {
        background: #fff;
    }
    &-desc,
    &-details {
        padding: 80px 0;
    }
    &-desc {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        background: $secondary;
        color: #fff;
        &::after {
            content: '';
            width: 100vw;
            position: absolute;
            top: 0;
            left: calc(50% - 50vw);
            bottom: 0;
            z-index: -1;
            background: $secondary;
        }
        p {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-details {
        color: $primary;
    }
    &-list {
        margin: 0;
        list-style: none;
        &-item {
            border-top: 1px solid $primary;
            &:first-child {
                border: 0;
                h3 {
                    margin-top: 0;
                }
            }
            &-title {
                display: flex;
                align-items: center;
            }
            &-svg {
                width: 90px;
                margin: 0 30px 0 0;
            }
        }
    }
}

.expertise {
    &-wrapper {
        padding: 0 0 80px;
        text-align: center;
    }
    &-tags {
        display: flex;
        padding: 30px 0;
        margin: 0 0 70px;
        background: $grey;
        &-list {
            display: flex;
            margin: 0;
            list-style: none;
            flex-shrink: 0;
            will-change: transform;
        }
    }
    &-tag {
        padding: 6px 15px;
        border: 1px solid;
        margin: 0 10px;
        border-radius: 22px;
        line-height: 1;
        flex-shrink: 0;
        background: #fff;
    }
    &-list {
        list-style: none;
        &-item {
            padding: 0 5% 50px;
        }
    }
    &-svg {
        height: 130px;
    }
}

.team {
    &-wrapper {
        color: #fff;
    }
    &-text {
        padding: 0 0 100px;
    }
    &-btn {
        margin: 2.5em 0 0;
    }
    &-visual {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0;
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            width: 250px;
            height: 250px;
            position: absolute;
            top: 0;
            right: 35%;
            bottom: 0;
            margin: auto;
            z-index: -1;
            background: #fff;
            transform: rotate(45deg);
        }
    }
}

.uses {
    &-wrapper {
        padding: 100px 0;
    }
    &-list {
        margin: 0 $gutter * -1;
        list-style: none;
        &-item {
            padding: 0 $gutter 30px;
            img {
                width: 100%;
            }
            &-title {
                padding: 0 0 10px;
                border-bottom: 1px solid #707070;
                margin: 0.35em 0;
            }
        }
    }
}

.contact {
    &-wrapper {
        overflow: hidden;
        background: $grey;
        .container {
            padding-top: 80px;
            padding-bottom: 80px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 1100px;
                height: 270px;
                bottom: -2%;
                right: 100%;
                background: url(../img/logo-big.png) no-repeat 0 0 / 100%;
                opacity: 0.05;
                transform-origin: 100% 100%;
                transform: translate3d(0, 0, 0) rotate(90deg);
            }
        }
    }
}

.social {
    display: flex;
    list-style: none;
    margin-top: 60px;
    li {
        margin: 0 15px 0 0;
    }
    a {
        display: block;
        will-change: transform;
        transition: 0.2s ease-out;
        &:hover,
        &:focus {
            opacity: 1;
            transform: translate3d(0, 0, 0) scale(0.9);
        }
    }
    .icon {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: $phone) {
    .uses {
        &-list {
            display: flex;
            flex-wrap: wrap;
            &-item {
                width: 50%;
            }
        }
    }

    .team {
        &-visual {
            &::after {
                width: 350px;
                height: 350px;
            }
        }
    }

    .contact {
        &-wrapper {
            .container {
                &::after {
                    opacity: 0.8;
                }
            }
        }
        &-inner {
            padding: 0 0 0 63%;
        }
    }
}

@media (min-width: $tablet) {
    .contact {
        &-inner {
            padding: 0 0 0 50%;
        }
    }
}

@media (min-width: $desktop-small) {
    .about {
        &-inner {
            display: flex;
        }
        &-desc,
        &-details {
            width: 50%;
        }
        &-desc {
            padding-right: 10%;
            &::after {
                width: 50vw;
            }
        }
        &-details {
            padding-left: 10%;
        }
    }

    .expertise {
        &-list {
            display: flex;
            justify-content: space-around;
            margin: 0 -4%;
            &-item {
                width: 33%;
                padding: 0 3%;
            }
        }
    }

    .team {
        &-inner {
            display: flex;
        }
        &-visual,
        &-text {
            width: 50%;
        }
        &-text {
            padding-top: 80px;
            padding-left: 10%;
        }
        &-visual {
            &::after {
                width: 300px;
                height: 300px;
            }
        }
    }

    .uses {
        &-list {
            &-item {
                width: 25%;
                padding-bottom: 0;
            }
        }
    }

    .contact {
        &-inner {
            padding: 0 0 0 40%;
        }
    }
}

@media (min-width: $desktop) {
    .expertise {
        &-tag {
            padding: 8px 20px 6px;
            margin: 0 25px;
            font-size: 1.8rem;
        }
        &-list {
            margin: 0;
            &-item {
                padding: 0 4%;
            }
        }
    }

    .team {
        &-visual {
            &::after {
                width: 320px;
                height: 320px;
            }
        }
    }
}

@media (min-width: $desktop-large) {
    .expertise {
        &-tag {
            font-size: 2rem;
        }
    }

    .team {
        &-visual {
            &::after {
                width: 380px;
                height: 380px;
            }
        }
    }
}
