// Variables 🧮 //

// Colors 🎨
$txt: #090400;
$primary: #173442;
$secondary: #4774f3;
$tertiary: #ef6753;
$grey: #f0eded;

// Fonts ✍
$font: serif;

// Grids variables 📐
$gutter: 20px;

// Mediaqueries 📱
$container-big: 1920px;
$container: 1670px;
$desktop-large: 1280px;
$desktop: 1100px;
$desktop-small: 960px;
$tablet: 768px;
$phone: 580px;
$phone-small: 400px;

// Transitions
$transition: 0.3s ease-in-out;
