/* Grid */

.wrapper {
    overflow: hidden;
    opacity: 1;
}

.main {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: rgba($primary, 0.95);
        visibility: hidden;
        opacity: 0;
        transition: 0.2s opacity 0.3s ease-out, 0.5s visibility 0s linear;
    }
    &.menu-on {
        &::after {
            visibility: visible;
            opacity: 1;
            transition: 0.3s ease-out;
        }
    }
}

.container,
.container-big {
    padding: 0 $gutter * 2;
    margin: 0 auto;
}

.container-big {
    max-width: $container-big;
}

.container {
    max-width: $container;
}

@media (min-width: $phone) {
    .main {
        &.menu-on {
            &::after {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .container {
        width: 90%;
    }
}
