.hero {
    padding: 140px 0 70px;
    position: relative;
    overflow: hidden;
    color: #fff;
    &.hero-small {
        .container {
            max-width: 1000px;
        }
    }
    &.home-hero {
        height: 100vh;
        padding: 0;
    }
    &-transition {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; 
    }
    &-background {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &-title {
        z-index: 1;
        bottom: 12.5rem;
        position: absolute;
        > span {
            position: absolute;
            top: 5px;
            left: -2em;
            font-size: 0.25em;
        }
    }
    &-subtitle {
        position: relative;
        margin: 20px 0 0;
        z-index: 1;
        font-size: 2.5rem;
        line-height: 1.4;
        font-weight: 400;
    }
    &-circle {
        margin: -10%;
    }
}

@media (min-width: $phone) {
    .hero {
        padding-top: 180px;
    }
}

@media (max-height: $tablet) and (orientation: landscape) {
    .hero {
        &-title {
            bottom: 5rem;
            font-size: 5rem;
        }
    }
}

@media (min-width: $desktop-small) {
    .hero {
        display: flex;
        align-items: center;
        padding: 200px 0 70px;
        &-subtitle {
            max-width: 50%;
        }
    }
}

@media (min-width: $desktop) {
    .hero {
        &-subtitle {
            max-width: 35%;
        }
    }
}
